:root {
    --cor-de-fundo: #E0AE53;
    --cor-da-letra: #E0D6C3;
    --fonte: "Libre Baskerville", serif;
    --fonte-weight-titulo: 700;
    --fonte-weight-p: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-de-fundo);

}

h1 {
    font-family: var(--fonte);
    font-weight: var(--fonte-weight-titulo);
}

p {
    font-family: var(--fonte);
    font-weight: var(--fonte-weight-p);
}

section {
    width: 100%;
    height: 100vh;
}

.sec_home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img_prin {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: end;
}

.navbar {
    position: fixed;

    top: 0;

    width: 100%;

    background-color: transparent;

    color: white;

    display: flex;

    justify-content: space-around;

    padding: 2px 0;

    z-index: 1000;

}

.navbar a {
    color: white;

    text-decoration: none;

    padding: 10px 15px;

}

.navbar a:hover {
    background-color: #575757;
}